openapi: 3.0.0
info:
  description: "たのしいレシピ開発用APIです。"
  version: 1.0.0
  title: CookingBook API
  termsOfService: https://gist.github.com/kenko-devel/8fd626708b4f6d2eea1f29ce9b7bb8c3
servers:
  - url: https://cooking-records.herokuapp.com/
    description: 技術試験で提供されている公開API
    variables:
      host:
        default: localhost
      port:
        default: '10080'
paths:
  /cooking_records:
    get:
      summary: ユーザーの料理記録API
      description: ユーザーの料理記録レコードを返すもの
      parameters:
        - in: query
          name: offset
          schema:
            type: integer
          description: オフセット
        - in: query
          name: limit
          schema:
            type: integer
          description: リクエスト時指定の取得数
      responses:
        200:
          description: 成功時のレスポンス
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/cooking_records_body'
components:
  schemas:
    pagination:
      description: ページングに関する情報
      type: object
      properties:
        total: 
          type: integer
          example: 100
        offset: 
          type: integer
          example: 50
        limit: 
          type: integer
          example: 5
    cooking_record:
      description: ユーザーの料理記録
      type: object
      properties:
        image_url: 
          type: string
          example: "https://cooking-records.herokuapp.com/images/51.jpg"
        comment: 
          type: string
          example: "パンチのきいた辛味が印象的です。"
        recipe_type: 
          type: string
          example: "main_dish"
        recorded_at: 
          type: string
          example: "2018-04-21 14:04:22"
    cooking_records:
      description: ユーザーの料理記録の配列
      type: array
      items:
        $ref: '#/components/schemas/cooking_record'
    cooking_records_body: 
      description: ユーザーの料理記録とページングを返却する
      type: object
      properties:
        pagination:
          $ref: '#/components/schemas/pagination'
        cooking_records:
          $ref: '#/components/schemas/cooking_records'
